body
{
/* background-color:#190439; */
font-family:sans-serif;
/* color:#3366FF; */
}

table, th, td 
{
   border: 1px solid black;
}

main {
    /*overflow: hidden; */
}

article {
    float: left;
    
}

figure {
    float: left;
    margin:0 0.5em 0 0;
    
}

footer{
    margin-top: 2em;
    margin-bottom: 2em;
}



/* Omat tyyli luokat  */

/* rivittää kuvat 3 ryhmiin */

.clear {
clear: both;    
}


/* lomakkeen tekstikenttä muotoilu */

.formimuotoilu{
text-align: left;
}


.button {
    background-color: firebrick;
    font-family: sans-serif;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Flexbox muotoilu*/

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}


figure {
    margin: .5em;
    position: relative;
}

figcaption {
    display: none;
}

figure:hover > figcaption {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}

figcaption h3 {
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    flex-wrap: wrap;
}


main {
    width: 100%;
}

aside {
    width: 100%;
}

header{
    display: flex;
    flex-wrap: wrap;
}


/*@media only screen and (min-width: 480px) { 
    body {
        max-width: 80em;
        margin: auto;
    } 

    main {
        width: 100%;
    }

    aside {
        width: 30%;
    }*/

    .reki{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;  
    align-content: center;   
    } 
    
/* Henriikan tyylit */
    
    .otsikko{
    text-align: left;
    font-family: sans-serif;
}

.otsikko a{
    text-align: left;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

.button_nav {
    background-color: firebrick;
    font-family: sans-serif;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
}

.drop_nav {
    position: relative;
    display: inline-block;
   
}

.drop_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.drop_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    display: block;
  
}

.drop_content a:hover {background-color: #f1f1f1}

.drop_nav:hover .drop_content {
    display: block;
 
}

.drop_nav:hover .button_nav {
    background-color: black;
 
}
    /* Menu pysyy kokoajan ylhäällä*/
.menu {    
position: fixed;
z-index: 999;
background-color: white;
width: 100%;
height: 25%;
top: 0;
padding-bottom: 50px;
}

.sisalto{
    margin-top: 250px;
    
    }

/* Kuva */

.kuva {
    width: 200px;
    height: 200px;   
    
}

.haku{
position:absolute;
top: 90px;
 right:30px;
}



/*    display: inline-block;
padding: 0 16px; /*